:host {
  .container {
    max-width: 700px;
    margin: 24px auto;
    border: 1px solid rgb(197, 193, 193);
    border-radius: 12px;
    padding: 12px;
    .post {
      .title {
        text-align: center;
        font-size: 24px;
      }
      .content {
        font-size: 18px;
        line-height: 20px;
      }
      .author {
        font-style: italic;
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      button {
        padding: 3px 9px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: rgb(225, 222, 222);
        }
      }
      a {
        display: inline-block;
        border: 1px solid gray;
        padding: 5px 12px;
        border-radius: 6px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: rgb(202, 198, 198);
        }
        &:visited {
          color: #456;
        }
      }
    }
  }
}
