<div class="container">
  <h1>Create a new Post</h1>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <label
      >Id:
      <input value="99" formControlName="id" type="number" />
    </label>
    <label
      >Title:
      <input formControlName="title" type="text" />
    </label>
    <label
      >Author:
      <input formControlName="author" type="text" />
    </label>
    <label
      >Content:
      <textarea formControlName="content" id="" rows="5"></textarea>
    </label>
    <label
      >Date:
      <input formControlName="date" type="date" />
    </label>
    <button type="submit">{{ submit ? "Submit" : "Edit" }}</button>
  </form>
</div>
