<div class="container">
  <h1>
    Welcome to my Blog Posts:
    <a class="create" routerLink="/create" (click)="alertMessage('create')"
      >Create New</a
    >
    <div class="status">
      <button
        *ngIf="!isLoggedIn"
        type="button"
        (click)="logIn()"
        title="login to take actions"
      >
        Login
      </button>
      <button *ngIf="isLoggedIn" type="button" (click)="logOut()">
        LogOut
      </button>
    </div>
  </h1>
  <ul class="all-posts" *ngIf="allPosts$ | async as allPosts">
    <li
      class="all-posts__post"
      *ngFor="let post of allPosts; let i = index"
      routerLink="{{ '/detail/' + post.id }}"
      (click)="alertMessage('see detail')"
    >
      <p class="header">{{ post.title }}</p>
      <p class="content">{{ post.content }}</p>
    </li>
  </ul>
</div>
