:host {
  --max-content-width: 1200px;
  --num-of-columns: 3;
  --gap-space: 24px;
  --border-radius: 12px;
  .container {
    max-width: var(--max-content-width);
    margin: auto;
    h1 {
      font-size: 48px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .create {
        font-size: 18px;
        border: 1px solid green;
        border-radius: 6px;
        padding: 6px 12px;
        color: green;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        &:hover {
          background: rgb(206, 238, 206);
        }
      }
    }
    .all-posts {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(var(--num-of-columns), 1fr);
      gap: var(--gap-space);

      &__post {
        border: 1px solid gray;
        border-radius: var(--border-radius);
        padding: var(--gap-space);
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.4s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: rgb(243, 243, 243);
          transform: scale(1.01);
        }
        .header {
          font-size: 30px;
          line-height: 36px;
          font-weight: bold;
          margin-block: 0 var(--gap-space);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .content {
          font-size: 22px;
          line-height: 26px;
          margin-block: 0;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
